html {
  color-scheme: dark;
}

body {
  overflow: hidden;
}

.disabled {
  color: white !important;
  border: 1px solid black !important;
  background-color: rgb(33, 33, 33) !important;
  cursor: auto !important;
}

.right {
  color: white !important;
  border: 1px solid rgb(0, 49, 11) !important;
  background-color: rgb(0, 49, 11) !important;
  cursor: auto !important;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#display {
  color: gold;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin: 5% 10%;
  overflow: hidden;
}

.keyboard button {
  color: gold;
  background-color: rgb(74, 74, 74);
  border: 1px solid gold;
  border-radius: 5px;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

.keyboard button:hover {
  background-color: gold;
  color: black;
}

.hangman {
  height: 450px;
  width: 500px;
  border: 1px solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.hangman #head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid gold;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.hangman #neck {
  height: 20px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}

.hangman #right-arm {
  height: 100px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 39%;
  left: 42.5%;
  transform: translateX(-50%);
  transform: rotate(45deg);
}

.hangman #left-arm {
  height: 100px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 39%;
  left: 57%;
  transform: translateX(-50%);
  transform: rotate(-45deg);
}

.hangman #body {
  height: 180px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.hangman #right-leg {
  height: 100px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 76.7%;
  left: 42.5%;
  transform: translateX(-50%);
  transform: rotate(45deg);
}

.hangman #left-leg {
  height: 100px;
  width: 2px;
  background-color: gold;
  position: absolute;
  top: 76.7%;
  left: 57%;
  transform: translateX(-50%);
  transform: rotate(-45deg);
}

#hang {
  height: 100px;
  width: 4px;
  background-color: white;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateY(-50%);
}

#lose {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
}

#lose h1 {
  font-size: 6rem;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.again {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid gold;
  border-radius: 8px;
  color: gold;
  margin: 0 auto;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}

.again:hover {
  background-color: gold;
  color: black;
}

#win {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
}

#win-text {
  font-size: 6rem;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
